body {
    min-width: 1076px;
    background-color: #959292;
    margin:0;
}

.box-contact {
    display: inline-flex;
    width: 100%;
    background-color: #edf0f2;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    position: fixed;
    bottom: 0;
}

.box-contact img {
    width: 3%;
    max-width: 15%;
    height: fit-content;
}

.box-contact .contact {
    margin: 0;
    display: inline-flex;
    font-size: 150%;
    letter-spacing: 3px;
}

.box-contact .contact-phone {
    text-align: center;
    padding: 20px 20px 0;
}

.box-contact .contact-phone p {
    margin: 0;
}

.box-contact .contact-mail {
    text-align: center;
    padding: 20px 20px 0;
}

.box-contact .contact-mail p {
    margin: 0;
}

.home-view {
    background: radial-gradient(circle farthest-side, #ffff,#959292);
}

.home-view .title {
    text-align: center;
    max-width: 100%;
    margin-top: 300px;
}

.home-view .title img {
    width: 10%;
}

.home-view .title .door2 {
    position: relative;
}

.home-view .title .door3 {
    width: 4%;
    position: absolute;
}

.home-view .start {
    color: #ffffff;
    position: absolute;
    font-size: 350%;
    display: flex;
}
