@charset "urf-8"; body {
    min-width: 1076px;
    background-color: #dddada;
}

.box-contact {
    display: inline-flex;
    width: 100%;
    background-color: #edf0f2;
    margin: 0px;
    padding: 0px;
    position: fixed;
    bottom: 0;
}

.box-contact img {
    width: 3%;
    max-width: 15%;
    height: fit-content;
}

.box-contact .contact {
    margin: 0;
    display: inline-flex;
    font-size: 150%;
    letter-spacing: 3px;
    color: #000000;
}

.box-contact .contact-phone {
    text-align: center;
    padding: 20px 20px 0;
}

.box-contact .contact-phone p {
    margin: 0;
}

.box-contact .contact-mail {
    text-align: center;
    padding: 20px 20px 0;
}

.box-contact .contact-mail p {
    margin: 0;
}

.logout {
    text-align: end;
}

.home-view .title {
    text-align: center;
    max-width: 100%;
    margin-top: 300px;
}

.home-view .title img {
    width: 10%;
}

.home-view .title .door2 {
    position: relative;
}

.home-view .title .door3 {
    width: 4%;
    position: absolute;
}

.home-view .start {
    color: #ffffff;
    position: absolute;
    font-size: 350%;
    display: flex;
}

.block {
    display: flex;
}

.block .container {
    padding: 5px 10px 5px 5px;
}

.block .container .card-header {
    text-align: center;
    background-color: #c1bebe;
}

.btn1 {
    margin: 0;
    width: 100%;
}

.block .container .side {
    display: inline-flex;
    margin-top: 50px;
}

.block .container img {
    width: 130%;
    margin-top: 50px;
}

.block .container .human {
    max-width: 100%;
}

.line {
    width: 100%;
}

.line2 {
    display: block;
}

.line3 {
    width: 100%;
}

.access-view {
    max-width: 100%;
    text-align: center;
}

.access-view .point {
    display: inline-flex;
    margin-top: 50px;
    width: 80%;
}

.access-viewtop {
    max-width: 100%;
    text-align: center;
    display: flex;
}

.access-viewtop .point {
    width: 50%;
    margin: auto;
    font-size: large;
    text-align: left;
}

.access-viewtop .point img {
    width: 100%;
}

.access-viewtop .point .career {
    margin-bottom: 50px;
    width: 97%;
    border: 1px dotted #626262;
}

.access-viewtop .point .career form {
}

.access-viewtop .point .career input {
}

.access-viewtop .point .career input:hover + .fukidasi {
    width: 110%;
}

.access-viewtop .point .brushup {
    margin-bottom: 50px;
    width: 97%;
    border: 1px dotted #626262;
}

.access-viewtop .point .brushup img:hover {
    width: 110%;
}

.access-viewtop .point .team {
    border: 1px dotted #626262;
    width: 97%;
}

.access-viewtop .point .team img:hover {
    width: 110%;
}

.access-viewtop .point .more img:hover {
    width: 110%;
}

.access-viewtop .mountain {
    width: 50%;
}

.access-viewtop .mountain img {
    width: 90%;
}

#circle{
    animation:5s ease-in-out infinite alternate rotationy;
}

@keyframes rotationy{
    0%{ transform:rotateY(0);}
    100%{ transform:rotateY(360deg); }
  }

.form-brushup {
    display: flex;
    width: 1079px;
    margin: 20px auto;
    font-size: large;
    text-align: center;
}

.form-brushup .my_profile .time p {
    color: red;
}

.form-brushup .task textarea {
    width: 100%;
}

.form-brushup .report .report_box textarea {
    width: 100%;
}

.form-brushup form {
    display: inline-flex;
    position: relative;
    left: 10px;
}

.form-brushup form .brushup {
    position: absolute;
    top: 104%;
    left: 46%;
}

.form-brushup .result ul {
    list-style: none;
}

.form-brushup .my_profile {
    margin-right: 85px;
    text-align: left;
    background-color: #ffffffc9;
    border: 3px solid #35c748;
}

.form-brushup .chief_profile {
    text-align: left;
    background-color: #ffffffc9;
    border: 3px solid #d73a3ab5;
}

.form-brushup .report p {
    margin-bottom: 0;
}

.form-brushup .report .report_box {
    display: inline-grid;
}

.form-brushup .report textarea {
    width: 100%;
}

.form-brushup .works textarea {
    width: 60%;
}

.form {
    display: flex;
    width: 816px;
    max-width: 100%;
    margin: 20px auto;
    font-size: large;
}

.form .my_profile {
    margin-right: 70px;
    background-color: #ffffff;
    border: 3px solid #35c748;
}

.form .chief_profile {
    background-color: #ffffff;
    border: 3px solid #d73a3ab5;
}

.form .task textarea {
    width: 100%;
}

.form .report p {
    margin-bottom: 0;
}

.form .report .report_box {
    display: inline-grid;
}

.form .report textarea {
    width: 100%;
}

.form .works textarea {
    width: 60%;
}

.formbutton {
    display: flex;
    width: 300px;
    max-width: 100%;
    margin: auto;
    font-size: large;
}

.formbutton .edit {
    text-align: center;
    margin: 30px 30px;
}

.chart {
    margin-top: 70px;
}

.chart p {
    text-align: center;
    font-size: x-large;
}

.table {
    width: 1500px;
    max-width: 90%;
    margin: 60px auto;
    font-size: large;
}

.table table tr th {
    border: solid 1px black;
}

.table table tr td {
    border: solid 1px black;
}

.createday {
    font-size: x-large;
    text-align: center;
    margin: 20px;
}

.menber {
    margin: 20px auto;
    width: 627px;
    max-width: 100%;
    display: flex;
}

.menber h2 {
    text-align: center;
    margin-top: 30px;
}

.menber .menberadd {
    margin-right: 20px;
}

.menber .menberadd p {
    margin: 0;
}

.menber .menberadd form {
    text-align: center;
}

.menber .menberchange {
    margin-right: 20px;
    width: 50%;
}

.menber .menberchange p {
    margin: 0;
}

.menber .menberchange form {
    text-align: center;
}

.search .teammenber .time {
    margin-bottom: 25px;
}

.search .teammenber ul {
    margin-bottom: 8px;
}

.teammenber .teamlist {
    border: 1px solid #b7b7b7;
}

.teammenber .teamlist ul {
    margin-top: 20px;
}

.teammenber .time {
    margin-bottom: 30px;
}

.careeredit {
    position: absolute;
    left: 45%;
}

.grafu .grafuchart {
    height: 100%;
    width: 100%;
}

.grafu .canvas-container {
    height: 50%;
    width: 60%;
    margin: auto;
}

.teaching {
    background-color: #8b8b8b;
    color: #ffffff;
    font-size: large;
    text-align: center;
}

.maincareer .line {
    border: 2px dashed #ffffff;
    margin-bottom: 28px;
}

.maincareer .circle {
    background-color: #ffffff;
    border-radius: 100%;
    position: relative;
}

.manual-mountain {
}

.manual-mountain img {
    width: 100%;
}
