@charset "urf-8"; body {
    min-width: 1076px;
    background-color: #dddada;
}

.box-contact {
    display: inline-flex;
    width: 100%;
    background-color: #edf0f2;
    margin: 0px;
    padding: 0px;
    bottom: 0;
}

.box-contact img {
    width: 3%;
    max-width: 15%;
    height: fit-content;
}

.box-contact .contact {
    margin: 0;
    display: inline-flex;
    font-size: 150%;
    letter-spacing: 3px;
}

.box-contact .contact-phone {
    text-align: center;
    padding: 20px 20px 0;
}

.box-contact .contact-phone p {
    margin: 0;
}

.box-contact .contact-mail {
    text-align: center;
    padding: 20px 20px 0;
}

.box-contact .contact-mail p {
    margin: 0;
}

.logout {
    text-align: end;
}

.home-view .title {
    text-align: center;
    max-width: 100%;
    margin-top: 300px;
}

.home-view .title img {
    width: 10%;
}

.home-view .title .door2 {
    position: relative;
}

.home-view .title .door3 {
    width: 4%;
    position: absolute;
}

.home-view .start {
    color: #ffffff;
    position: absolute;
    font-size: 350%;
    display: flex;
}

.block {
    display: flex;
}

.block .container {
    padding: 5px 10px 5px 5px;
}

.block .container .card-header {
    text-align: center;
    background-color: #c1bebe;
}

.btn1 {
    margin: 0;
    width: 100%;
}

.block .container .side {
    display: inline-flex;
    margin-top: 50px;
}

.block .container img {
    width: 130%;
    margin-top: 50px;
}

.block .container .human {
    max-width: 100%;
}

.line {
    width: 100%;
}

.line2 {
    display: block;
}

.line3 {
    width: 100%;
}

.access-view {
    max-width: 100%;
    text-align: center;
}

.access-view .point {
    display: inline-flex;
    margin-top: 50px;
    width: 80%;
}

.access-view .point img {
    width: 100%;
}

.access-view .point .career {
    margin-top: 135px;
    margin-right: 30px;
}

.access-view .point .brushup {
    margin-right: 30px;
}

.access-view .point .team {
    margin-top: 135px;
    margin-right: 30px;
}

.access-view .point .more {
}

.access-view .more {
}

.access-view .mountain {
}

.access-view .mountain img {
    width: 90%;
}

.form {
    display: flex;
    width: 1007px;
    margin: 20px auto;
    font-size: large;
}

.form label {
}

.form .my_profile {
    margin-right: 85px;
}

.form .chief_profile {
}

.form .chief_profile .result {
}

.form .report p {
    margin-bottom: 0;
}

.form .report .report_box {
    display: inline-grid;
}

.form .report textarea {
    width: 100%;
}

.form .works textarea {
    width: 60%;
}

.edit {
    text-align: center;
    margin: 30px 0;
}

.chart {
    margin-top: 70px;
}

.table {
    width: 1500px;
    max-width: 100%;
    margin: 60px auto;
    font-size: large;
}

.table table tr th {
    border: solid 1px black;
}

.table table tr td {
    border: solid 1px black;
}

.createday {
    font-size: x-large;
    text-align: center;
    margin: 20px;
}

.menber {
    margin: 20px auto;
    width: 555px;
    max-width: 100%;
    display: flex;
}

.menber h2 {
    text-align: center;
    margin-top: 30px;
}

.menber .menberadd {
    margin-right: 20px;
}

.menber .menberadd p {
    margin: 0;
}

.menber .menberadd form {
    text-align: center;
}

.menber .menberchange {
    margin-right: 20px;
}

.menber .menberchange p {
    margin: 0;
}

.menber .menberchange form {
    text-align: center;
}